.footer {
    background-color: #3F3B3D;
    padding: 96px 0 32px 0;
}
.footer__content {
    color: #FFFFFF;
}
.footer__title {
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 32px;
    text-transform: uppercase;
}
.footer__gallery {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 64px;
}
.footer__gallery-item {
    position: relative;
    transition: var(--baseAnimation);
    flex: 25%;
    max-width: 25%;
    cursor: pointer;
    margin-top: 32px;
}
.footer__gallery-item:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('Pulstar/images/icnons/magnifying-glass-plus-solid.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 96px 96px;
    background-color: rgba(0,0,0,0.4);
    transition: var(--baseAnimation);
    opacity: 0;
    z-index: 9999;
}
.footer__gallery-item:hover:after {
    opacity: 1;
}
.footer__gallery-item:not(:last-child) {
    margin-right: 32px;
}
.footer__information {
    display: flex;
    margin-bottom: 32px;
}
.footer__item {
    flex: 50%;
    max-width: 50%;
}
.footer__text:after {
    position: absolute;
    content: '';
    height: 2px;
    background-color: #FFFFFF;
    width: 80%;
    left: 0;
    bottom: 22px;
}
.footer__text {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}
.footer__links {
    display: flex;
    justify-content: space-between;
}
.footer__column {
    flex: 33%;
    max-width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footer__column-title,
.footer__column-link,
.footer__copyright,
.footer__copyright-author {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.footer__column-title {
    letter-spacing: 0.16px;
    margin-bottom: 16px;
}
.footer__column-link {
    position: relative;
    color: #FFFFFF;
    transition: var(--baseAnimation);
}
.footer__column-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--baseColorActive);
    bottom: 0;
    left: 50%;
    transform:translate(-50%, -50%);
    transition: var(--baseAnimation);
}
.footer__column-link:hover:after {
    width: 100%;
}
.footer__column-link:hover {
    color: var(--baseColorActive);
}
.footer__column-link:not(:last-child) {
    margin-bottom: 3px;
}
.footer__copyright {
    padding-top: 32px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-right: 6px;
}
.footer__copyright-author {
    color: var(--baseColorActive2)
}

@media (max-width: 992px) {
    .footer__gallery {
        flex-wrap: wrap;
    }
    .footer__gallery-item {
        flex: 40%;
        max-width: 50%;
    }
    .footer__gallery-item:nth-child(2n) {
        margin-right: 0 !important;
    }
}

@media (max-width: 568px) {
    .footer__information {
        flex-direction: column;
    }
    .footer__item {
        flex: 100%;
        max-width: 100%;
    }
    .footer__text {
        padding-bottom: 24px;
        margin-bottom: 24px;
    }
    .footer__text:after {
        width: 100%;
        bottom: 0;
    }
    .footer__column {
        align-items: center;
    }
    .footer__column-title {
        font-size: 24px;
    }
    .footer__copyright {
        text-align: center;
    }
}

@media (max-width: 420px) {
    .footer__gallery-item {
        flex: 100%;
        max-width: 100%;
        margin-right: 0 !important;
    }
    .footer__text {
        font-size: 20px;
    }
    .modal__gallery-close {
        width: 50px;
        height: 50px;
        right: -16%;
        top: -36%;
    }
    .footer__links {
        flex-wrap: wrap;
    }
    .footer__column {
        flex: 49%;
        max-width: 50%;
    }
    .footer__column:last-child {
        flex: 100%;
        max-width: 100%;
        margin-top: 56px;
    }
    .footer__column-title {
        font-size: 36px;
        margin-bottom: 32px;
    }
    .footer__column-link {
        font-size: 24px;
    }
    .footer__column-link:not(:last-child) {
        margin-bottom: 12px;
    }
}
