.presentation {
    display: flex;
    margin-bottom: 60px;
}
.presentation__information {
    flex: 40%;
    display: flex;
    padding: 64px;
    justify-content: end;
    flex-direction: column;
    max-width: 40%;
    background-color: #3F3B3D;
    margin-top: 80px;
}
.presentation__image {
    flex: 60%;
    max-width: 60%;
}
.presentation__title {
    font-weight: 400;
    font-size: 33px;
    line-height: 42px;
    margin-bottom: 28px;
    color: #ffffff;
}
.presentation__buttons {

}
.presentation__btn {
    border: none;
    border-radius: 3px;
    background-color: inherit;
    padding: 12px 26px;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.presentation__btn:first-child:hover {
    background-color: var(--baseColorActive);
}
.presentation__btn:last-child:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.presentation__btn:first-child {
    background-color: var(--baseColor2);
    margin-right: 8px;
}