@import "right_content/right_content.css";

.header {
    position: sticky;
    top: 0;
    background: #ffffff;
    filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.1));
    height: 72px;
    z-index: 99999;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 12px 0;
}

.header .site__logo {
    width: 14%;
}

.site__logo {
    width: 100%;
    cursor: pointer;
    fill: var(--baseColor);
}

@media(max-width: 830px) {
    .header .site__logo {
        width: 40%;
    }
}
@media(max-width: 680px) {
    .header .site__logo {
        width: 50%;
    }
}


