.menu__list {
    display: flex;
    align-items: center;
}
.menu__item {
    position: relative;
}
.menu__item:last-child {
    margin-left: 10px;
}
.menu__item:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--baseColorActive);
    bottom: 0;
    left:50%;
    transform:translate(-50%, -50%);
    transition: var(--baseAnimation);
    opacity: 0.8;
}
.menu__link {
    padding: 20px;
    font-size: 14px;
    text-transform: capitalize;
    transition: var(--baseAnimation);
}
.menu__item:hover:after {
    width: 60%;
}
.menu__item:hover .menu__link {
    color: var(--baseColorActive);
}