.shop {
    margin-bottom: 64px;
}

/*product*/
.products {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.product {
    flex: 33%;
    max-width: 33%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.product:not(:last-child) {
    margin-right: 8px;
}
.product__image {
    transition: var(--baseAnimation);
}
.product:hover .product__image {
    transform: scale(1.5);
}
.product__info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: calc(100% - 24px);
    padding: 12px 0 12px 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.product__name {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1; /* количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 12px;
}
.product__price {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
}

/*category*/
.categories {
    display: flex;
}
.category {
    position: relative;
    flex: 50%;
    width: 50%;
    overflow: hidden;
    cursor: pointer;
}
.category:not(:last-child) {
    margin-right: 8px;
}
.category:hover .category__image {
    transform: scale(1.5);
}
.category:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: var(--baseAnimation);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%);
    z-index: 9;
}
.category__info {
    position: absolute;
    color: #ffffff;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
    text-align: center;
    z-index: 99;
}
.category__image {
    transition: var(--baseAnimation);
}
.category__title {
    font-weight: 400;
    font-size: 39px;
    line-height: 44px;
    letter-spacing: 0.44px;
    margin-bottom: 12px;
}
.category__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

@media (max-width: 992px) {
    .product__name,
    .product__price {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    /*products*/
    .products {
        flex-wrap: wrap;
    }
    .product:not(:first-child) {
        flex: 49%;
        max-width: 50%;
    }
    .product:first-child {
        flex: 100%;
        max-width: 100%;
        max-height: 311px;
        margin-bottom: 8px;
        background-color: #e9e9e7;
        margin-right: 0 !important;
    }
    .product:first-child img {
        max-width: 311px;
        max-height: 311px;
        margin: 0 auto 0 auto;
    }
    .product__name,
    .product__price {
        font-size: 20px;
    }
    /*cetegory*/
    .categories {
        flex-wrap: wrap;
    }
    .category {
        flex: 100%;
        margin-right: 0 !important;
    }
    .category:not(:first-child) {
        margin-top: 8px;
    }
}

@media (max-width: 420px) {
    .product {
        flex: 100% !important;
        max-width: 100% !important;
        margin-right: 0 !important;
    }
    .product:first-child {
        margin-bottom: 0 !important;
    }
    .product:not(:first-child) {
        margin-top: 8px;
    }
}